.photo {
    margin: auto;
    display: grid;
    grid-template-columns:  36rem 20rem ;
    grid-template-rows: auto 1fr auto;
    height: 36rem;
    border-radius:  .2rem;
    background: white;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    animation:  scaleUp .3s forwards;
}

.single.photo {
    margin: 1rem auto;
    grid-template-columns: 1fr;
    height: auto;
}

@keyframes scaleUp {
    to {
        opacity:  initial;
        transform: initial;
    }
}

.details {
    padding:  2rem 2rem 1rem 2rem;
}

.single .details {
    padding: 1rem 1rem 0 1rem;
}

.img {
    grid-row: 1 / 4;
}

.single .img {
    grid-row: 1;
    border-radius: 2rem;
    overflow: hidden;
}

@media (max-width: 64rem) {
    .photo {
        grid-template-columns: minmax(20rem, 40rem);
        height: auto;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
    }

    .img {
        grid-row: 1;
    }
}

.author {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author a, 
.views {
    opacity: 0.5;
}

.author a:hover {
    color: var(--color-primary);
}

.views::before {
    margin-right: 5px;
    content: '';
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url('../../../../assets/img/visualizacao-black.svg');
}

.attributes {
    display: flex;
    font-size: 1.125rem;
    font-weight: bold;
}

.attributes li {
   margin-right: 2rem;
}

.attributes li::before {
    margin-top: 5px;
    margin-right: .5rem;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    top: 3px;
    width: 2px;
    background: var(--color-dark);
}