.nav {
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    a,
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eee;
        border-radius: .2rem;
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        transition: .1s;
        cursor: pointer;
    }

    a:hover,
    a:focus,
    button:hover,
    button:focus {
        background: white;
        box-shadow: 0 0 0 3px #eee;
        border-color: var(--color-dark);
        outline: none;
    }


}

/* UserHeaderNav.module.css */
.nav a:global(.active) {
	background: white;
	box-shadow: 0 0 0 3px rgb(170, 204, 255);
	border-color: var(--color-primary);
}

/* O seletor abaixo força a cor, ignorando o preenchimento padrão */
.nav a:global(.active) svg * {
	fill: var(--color-primary) !important;
}


/* Mobile Button */
.mobileButton {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #dfdfdf;
	border-radius: .2rem;
	width: 40px;
	height: 40px;
	border: 1px solid transparent;
	transition: .1s;
	cursor: pointer;
}

.mobileButton::after {
	content: '';
	display: block;
	width: 1.2rem;
	height: 2px;
	background: currentColor;
	border-radius: 2rem;
	box-shadow: 0 6px currentColor, 0 -6px currentColor;
	transition: .2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileBtnActive {
	outline: none;
	background: white;
	box-shadow: 0 0 0 3px rgb(170, 204, 255);
	border-color: var(--color-primary);
	color: var(--color-primary);;
}

.mobileBtnActive::after {
	transform: rotate(90deg);
	width: 4px;
	height: 4px;
	box-shadow:  0 8px currentColor, 0 -8px currentColor;
}


/* Modo Nav Mobile */
.navMobile {
	padding: 0 1rem;
	display: block;
	position: absolute;
	top: 70px;
	right: 0px;
	/*inset: 70px 0 auto auto;*/
	background: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	border-radius: .2rem;
	transform: translateX(-10px);
	opacity: 0;
	pointer-events: none;

	a,
	button {
		padding: .5rem;
		display: flex;
		align-items: center;
		background: none;
		width: 100%;
		border: none;
		border-bottom: 1px solid #dddddd;
		cursor: pointer;
	}

	svg {
		margin-right: .5rem;
	}

	button {
		border-bottom: none;
	}

	a:hover svg > *,
	button:hover svg > * { 
		fill: var(--color-primary-hover)
	}
}


/* Active nav Mobile */
.navMobileActive {
	transition:  .3s;
	transform:  initial;
	opacity: 1;
	z-index: 100;
	pointer-events: initial;
}
