#root { 
  --margin-auto: 0 auto;
  --margin-0: 0 ;
  --wid-max: 50rem;

  /* Styles Colors */
  --color-primary: #007bff;
  --color-primary-s: rgb(0, 106, 219);
  --color-secondary: #6c757d;
  --color-grey: #888f94;
  --color-grey-light: #cecece;
  --color-semi-grey-light: #acacac;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8; 

  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-text: #333;

  --color-text-btn: #fff;
  --color-primary-hover: #2a8bf1;
  --color-primary-focus: #a9d2ffde;

  --color-danger-hover: #c40000;
  --color-danger-focus: #ffa9a9de;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  background-color: #f0f2f5;
  color: var(--color-text);
  --type-first: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --type-second: 'Special Elite', monospace, Georgia;
  font-family: var(--type-first);
}

h1, h2, 
h3, h4, 
p {
  margin: var(--margin-0);
}

ul,
li {
  margin: var(--margin-0);
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--color-text)
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
	margin: 1rem 0;
	position: relative;
	font-family: var(--type-second);
	line-height: 1;
	font-size: 3rem;
	z-index: 1;
}


.title::after {
	content: '';
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--color-primary);
	position: absolute;
	bottom: .2rem;
	left: -.5rem;
	border-radius:  .2rem;
	z-index: -1;
}

@media (max-width: 40rem) {
  
  .title {
    font-size: 2.6rem;
  }

  .title::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--color-primary);
    position: absolute;
    bottom: .2rem;
    left: -.5rem;
    border-radius:  .2rem;
    z-index: -1;
  }

}


.container {
  max-width: var(--wid-max);
  margin: var(--margin-auto);
  padding: 0 1rem;
}

.main-container {
  margin: 2rem 0 2rem 0;
}

.error {
  color: var(--color-danger);
  font-size: .795rem;
  margin-top: .2rem;
  max-width: 40ch;
}

/* Animations */
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.main {
  flex: 2;
}