#root { 
  --margin-auto: 0 auto;
  --margin-0: 0 ;
  --wid-max: 50rem;

  /* Styles Colors */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8; 

  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-text: #333;

  --color-text-btn: #fff;
  --color-primary-hover: #2a8bf1;
  --color-primary-focus: #a9d2ffde;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  background-color: #f0f2f5;
  color: var(--color-text);
  --type-first: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --type-second: 'Special Elite', monospace, Georgia;
  font-family: var(--type-first);
}

h1, h2, 
h3, h4, 
p {
  margin: var(--margin-0);
}

ul,
li {
  margin: var(--margin-0);
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--color-text)
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--wid-max);
  margin: var(--margin-auto);
  padding: 0 1rem;
}

.error {
  color: var(--color-danger);
  font-size: .795rem;
  margin-top: .2rem;
  max-width: 40ch;
}