.button {
    padding: .8rem 1.2rem;
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    min-width: 8rem;
    background-color: var(--color-primary);
    color: var(--color-text-btn);
    box-sizing: border-box;
}

.button:disabled {
    opacity: .5;
    cursor: wait;
}

.button:hover:not(:disabled) {
    background-color: var(--color-primary-hover);
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px var(--color-primary-focus);
}