.wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100vh;
}

.loading {
    padding-left: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .5);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

