.Header {
  width: 100%;
  background-color: #fff;
  max-width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 100;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.Logo {
  padding: .5rem 0;
}

.Login {
  color: var(--color-text);
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.Login::after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../../assets/img/usuario.svg') 
  no-repeat center center;
  background-size: contain;
}

.user {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.userName {
  text-transform: uppercase;
}


.Logo svg * {
 
  fill: #499ffb;
}