.graph {
    margin: 2rem 0;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 2rem;
}

.graphItem {
    display: grid;
    align-items: center;
    border-radius: .2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.total {
    padding: 2rem;
    grid-column: 1 / 3;
    font-size: 2rem;
    color: var(--color-dark);
}

.message {
    color: #7a7a7a;
}

@media (max-width: 40rem) {
    .graph {
        grid-template-columns: 1fr;
    }
    .total {
        grid-column: 1;
    }
}