.wrapper {
    margin: .8rem 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-bottom: 1rem;
}

.input	{
    display: block;
    padding: .8rem;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: .4rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #eee;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: var(--color-primary-focus);
}

.error {
    color: var(--color-danger);
    font-size: .795rem;
    margin-top: .2rem;
    max-width: 40ch;
}