.modal {
    padding: 1rem calc(2rem + 10px) 1rem 2rem;
    display: flex;
    position: fixed;
    align-items: center;
    inset: 0 auto auto 0;
    width: 100%;
    justify-content: center;
    height: 100%;
    background:  rgba(0, 0, 0, .4);
    z-index: 1000;
}

@media (max-width: 40rem) {
    .modal {
        padding: .5rem;
    }
}