.modal {
    padding: 2rem calc(4rem + 15px) 2rem 4rem;
    display: flex;
    position: fixed;
    inset: 0 auto auto 0;
    width: 100vw;
    height: 100vh;
    background:  rgba(0, 0, 0, .4);
    z-index: 1000;
}

@media (max-width: 40rem) {
    .modal {
        padding: 2rem calc(2rem + 15px) 2rem 2rem;
    }
}