.footer {
  padding: 3rem 1rem 0 1rem;
  background-color: var(--color-primary-s);
  color: hwb(207 78% 0%);
  height: 10rem;
  text-align: center;
  border-top: 1px solid #ddd;

  p {
    margin-top:  1rem;
    
  }
}

.footer svg * {
  fill: hwb(207 78% 0%);
}


